.SignUp{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: grid;
}
.SignUp .SignUpContainer{
    place-self: center;
    width: 60vw;
    height: 70vh;
    background-color: #eccbea;
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.title{
    width: 100%;
    height: 14%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.title b{
    padding: 20px;
    margin-left: 10px;
    font-size: 25px;
}
.Container{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup_left{
    margin-top: 60px;
    margin-left: 50px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;  
}
.signup_inputs{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.signup_inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 5px;
    border-radius: 4px ;
}
.signup-condition{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}
.signup_inputs button{

    border: none;
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: white;
    background-color: rgb(168, 0, 159);
    font-size: 15px;
    cursor: pointer;
}
.signup_right{
    height: 100%;
}
.signup_right img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;
}